form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

#bilan {
    height: 250px;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}